@use "../../style";

.thumbContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 55px;
  grid-row-gap: 50px;
  padding: 55px;
  margin-top: 2em;
  border-radius: 1em;
  background-color: #f6f6f6;
  @media screen and (max-width: 1090px) {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    padding: 34px;
}
  @media screen and (max-width: 700px) {
    grid-template-columns: 1fr;
  }
  @media screen and (max-width: 530px) {
    grid-template-columns: 1fr;
    background: none;
    padding: 0;
    grid-row-gap: 1em;
  }
}

.appartment {
  width: 340px;
  height: 340px;
  display: flex;
  @media screen and (max-width: 530px) {
    width: 335px;
    height: 255px;
  }
  

  & img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }

  & h2 {
    width: 12em;
    text-align: left;
    padding: 0.5rem;
    color: style.$secondary-color;
    z-index: 1;
    font-size: 1.2rem;
    font-weight: 500;
    position: absolute;
    bottom: 0px;
    left: 10px;
    right: 20px;
    background: none;
  }
}
