@use "../../style";

@mixin descriptionText {
  line-height: 1.5rem;
  margin: 0;
  padding: 1rem 1rem 0.5rem;
  background-color: #f6f6f6;
  border-radius: 0 0 0.3em 0.3em;
  @media screen and (max-width: 530px) {
    margin-bottom: 0;
  }
}

.collapse {
  border-radius: 0.3rem;
  margin-top: 1.5rem;
  background-color: #f6f6f6;
  flex-shrink: 100%;
  & p,
  ul {
    @include descriptionText;
    @media screen and (max-width: 530px) {
      min-height: 12em;
    }
  }
  & h2 {
    margin: 0;
  }
}
