@use "../style";

.bannerStyle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
    width: 100%;
    margin-top: 2rem;
    border-radius: 0.3em;
    //color: style.$secondary-color;
    font-size: 30px;
    font-weight: 500;
    background-image: url("../assets/vagues.png");
    filter: brightness(50%);
    @media screen and (min-width: 792px){
      border-radius: 0.5em;
    }
    @media screen and (max-width: 480px){
      margin-top: 0;
      justify-content: start;
      font-size: 25px;
      height: 15vh;
      & p {
        width: 232px;
      }
    }
    & p {
      margin: 1em
    }


  };
  