@use "../style";

//voir pour la largeur des cartes

//passer en grip pour mieux disposer les images

/* .gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-top: 2em;
  @media screen and (min-width: 792px) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    background-color: #f6f6f6;
    margin-top: 2em;
    border-radius: 1em;
    align-content: flex-start;
    min-height: 20rem;
    padding: 2rem;
    gap: 2rem;
  }
} */

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    padding: 2em;
    margin-top: 2em;
    border-radius: 1em;
    background-color: #f6f6f6;
    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 480px) {
        grid-template-columns: 1fr;
        background: none;
        padding: 0;
        grid-row-gap: 1em;
    }
}

.appartment {
  //background-image: linear-gradient(180deg, #FF6060 0%, #660f0fb7 100%);
  width: 100%;
  height: 100%;
  display: flex;
  place-items: end start;
  gap: 2em;
  border-radius: 0.5em;
  min-width: 200px;
  min-height: 300px;
  @media screen and (max-width: 768px){
    min-height: 250px;
  }
  @media screen and (max-width: 480px) {
    width: 100%;
    height: 250px;
}
}

.rentName {
  width: 12em;
  text-align: left;
  padding: 0.5rem;
  color: style.$secondary-color;
  z-index: 1;
}
