@use "../../style";

.gallery {
  display: grid;
  width: -webkit-fill-available;
  width: -moz-available;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  padding: 2em;
  margin-top: 2em;
  border-radius: 1em;
  background-color: #f6f6f6;
  @media screen and (max-width: 700px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 530px) {
    grid-template-columns: 1fr;
    background: none;
    padding: 0;
    grid-row-gap: 1em;
  }
}

.appartment {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-end;
  gap: 2em;
  border-radius: 0.5em;
  min-width: 200px;
  min-height: 300px;
  @media screen and (max-width: 700px) {
    min-height: 250px;
  }
  @media screen and (max-width: 530px) {
    width: 100%;
    height: 250px;
  }
}

.rentName {
  width: 12em;
  text-align: left;
  padding: 0.5rem;
  color: style.$secondary-color;
  z-index: 1;
}
