.footer {
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  font-size: 22px;
}

.black_logo {
  height: 65px;
  width: 130px;
}
