$font-stack: Montserrat;
$primary-color: #ff6060;
$secondary-color: white;

body {
  font: 100% $font-stack;
  color: $primary-color;
  margin: 2em;
  font-weight: 400;
  font-size: "14px";
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

img {
  object-fit: cover;
}

footer,
h2 {
  color: $secondary-color;
}
