.gallery{
    display: flex;
    flex-wrap: wrap;
    background-color: #F6F6F6;
    margin-top: 2em;
    border-radius: 1em;
    align-content: flex-start;
    justify-content: space-between;
    min-height: 20rem; 
    padding: 2rem;
    gap: 1rem;
}

.appartment {
    background-image: linear-gradient(180deg, #FF6060 0%, #660f0fb7 100%);
    flex-basis: 30%;
    min-width: 200px;
    min-height: 200px;
    border-radius: 0.5em;
    display:grid;
    align-items: end;
    justify-items: start;


}

.rentName {
    width: 7em;
    text-align: left;
    padding: 0.5rem;
    color: white;
    font-size: 15px;
}